h1 {
  transition: 0.5s;
  transform-origin: right center;
}

h1:hover {
  color: red;
  transform: rotate(-45deg);
}

.carousel {
  max-width: 600px;
}

.carousel-wrapper {
  max-width: 600px;
  transition: 0.5s;
}
.carousel-wrapper:hover {
  max-width: calc(600px + 4rem);
  background-color: grey
  padding: 2rem;
  padding-bottom: 1px;
}
.carousel figure {
  margin: 0;
}
